body {
    background-color: #0d1b2a;
}

.card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.03);
        box-shadow: 0 0 10px rgba(187, 134, 252, 0.3);
    }
